@model IEnumerable<OfficeFileManagementSystem.Models.IncomingFile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class= 'btn btn-outline-dark' asp-action="Create">
        <span class="glyphicon glyphicon-plus"></span>
        Create</a>
</p>
<table class="table">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayName("File Name")
            </th>
            <th>
                @Html.DisplayName("Receiving Date")
            </th>
            <th>
                @Html.DisplayName("File Type")
            </th>
            <th>
                @Html.DisplayName("Priority")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Allowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileType)
            </td>
            <td>
                    @{
                        foreach(var i in ViewBag.Impt){
                            if (@item.Importance_ID == i.Id)
                            {
                                @i.Type    
                            }

                }
               }
            </td>
            <td align="center">
                    <a value="Edit" class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Incoming_File_Id"> Edit|</a>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Incoming_File_Id"> Details </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Incoming_File_Id"> Delete </a>
        </tr>
}
    </tbody>
</table>
