@model OfficeFileManagementSystem.Models.Assignment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Allowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Allowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Incoming_File_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Incoming_File_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Assignment_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
