@model OfficeFileManagementSystem.Models.Importance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Importance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Days_Allowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Days_Allowed)
        </dd>
    </dl>
</div>
<div>
    @Html.Partial("_BackButtonList")
    <a asp-action="Edit" class= "btn btn-outline-success" asp-route-id="@Model?.Id">Edit</a>
</div>
